body{
    background-color:slateblue;
}

h3{
    color:snow;
}

h4{
    color:snow;
    padding-top:20px;
}

h1{
    color:snow;
}
#Webcam,#result{
    border:2px solid floralwhite;
    width:400px;
    height:350px;

}
label{
    padding:10px;
}

button{
    margin:5px;
}